<div class="flex flex-col flex-auto w-full h-full overflow-hidden">
  <div class="relative">
    <!-- Bg Blur -->
    <div
      class="absolute inset-0 blur-xl max-h-[580px] flex-auto"
      style="
      background: linear-gradient(
        143.6deg,
        rgba(192, 132, 252, 0) 20.79%,
        rgba(232, 121, 249, 0.26) 40.92%,
        rgba(204, 171, 238, 0) 70.35%
      );
    "></div>
    <div class="z-20 relative">
      <section>
        <div
          class="z-50 max-w-screen-xl mx-auto px-4 py-28 gap-12 text-gray-600 overflow-hidden md:px-8 md:flex">
          <div class="flex-none space-y-5 max-w-xl">
            <span
              class="inline-flex gap-x-6 items-center rounded-full p-1 pr-6 border text-sm font-medium duration-150 hover:bg-white">
              <span
                class="inline-block rounded-full px-3 py-1 bg-indigo-600 text-white">
                Football Data
              </span>
              <p class="flex items-center">
                Get the data that matters to you!
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5">
                  <path
                    fillRule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clipRule="evenodd" />
                </svg>
              </p>
            </span>
            <h1 class="text-4xl text-gray-800 font-extrabold sm:text-5xl">
              Get access to real time information about your favorite NFL team
              and favorite players!
            </h1>
            <p>
              This app requires a valid API key for the following API:
            </p>
            <a
              class="text-blue-600 hover:text-indigo-800 hover:underline"
              href="https://rapidapi.com/tank01/api/tank01-nfl-live-in-game-real-time-statistics-nfl"
              target="_blank" rel="noopener noreferrer">
              https://rapidapi.com/tank01/api/tank01-nfl-live-in-game-real-time-statistics-nfl
            </a>
            <p>
              Please enter your API Key below in order to use this application!
            </p>
            <div class="flex items-center gap-x-3 sm:text-sm">
              <a
                href="javascript:void(0)"
                class="flex items-center justify-center gap-x-1 py-2 px-4 text-white font-medium bg-gray-800 duration-150 hover:bg-gray-700 active:bg-gray-900 rounded-full md:inline-flex">
                Get started
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5">
                  <path
                    fillRule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clipRule="evenodd" />
                </svg>
              </a>
              <a
                href="javascript:void(0)"
                class="flex items-center justify-center gap-x-1 py-2 px-4 text-gray-700 hover:text-gray-900 font-medium duration-150 md:inline-flex">
                Contact sales
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5">
                  <path
                    fillRule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clipRule="evenodd" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <img
          src="assets/play-design.svg"
          class="optimzeImage shrink-0 hidden sm:block sm:z-0 mx-auto max-w-2xl blur-sm lg:translate-y-[-17rem]  lg:translate-x-[17rem] transition duration-700 ease-in-out" />
      </section>
    </div>
  </div>
</div>
